/* Content */

.content img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1240px) {
    .content {
        width: 863px;
        margin-left: auto;
    }
}

@media (min-width: 1500px) {
    .content {
        width: 880px;
    }
}

@media (max-width: 320px) {
    .main {
        box-sizing: border-box;
        display: grid;
    }


    .main h1 {
        position: relative;

        font-family: 'RF Dewi', sans-serif;
        font-size: 21px;
        line-height: 1.19em;
        letter-spacing: 0.03em;
        color: white;
    }

    .main h2 {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 16px;
		font-stretch: expanded;
        line-height: 1.18em;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: black;
        display: flex;
        justify-content: flex-start;
    }


    .article__lead::first-letter {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 73px;
        letter-spacing: 0.03em;
        color: grey;


        padding: 3px; /* Поля вокруг первой буквы */
        margin-right: 5px; /* Отступ справа */
        float: left; /* Обтекание по правому краю */
    }

    .article__lead {
        clear: left;
    }

    .main p {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
        color: black;
    }
	
	  .article__important {
        color: #b1b3b6;
    }

    .main ol,
    .main ul {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
        color: black;
		list-style: none;
		padding: 0;
    }

   .list--marker li::before {
	    color: #b1b3b6;
		content: "-";
		width: 14px;
		height: 2px;
		padding-right: 8px; /* Расстояние от маркера до текста */
    }
	
	
	.list--marker li {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
		color: black;
		padding: 0 13px;
	}
	
	
	.main li{
		color: black;
	}
	
	.main ol{
		counter-reset: num;
	}
	
	.list--number li {
       padding: 0 13px;
	}
	
	.list--number li::before {
	position: relative;
	font-size: 21px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    content: counter(num) ' '; /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    color: #b1b3b6;
	padding: 0 0 0 5px;
	}
	
	.main a{
	  text-decoration: none;
	  color: blue;
	}
}

@media (min-width: 320px) and (max-width: 1024px) {
    .main {
        box-sizing: border-box;
        display: grid;
    }

    .main--left,
    .main--right {
        box-sizing: border-box;
        display: grid;
    }

    .article__lead::first-letter {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 73px;
        font-stretch: expanded;
        letter-spacing: 0.03em;
        color: #696969;
        padding: 3px; /* Поля вокруг первой буквы */
        margin-right: 5px; /* Отступ справа */
        float: left; /* Обтекание по правому краю */
    }

    .article__lead {
        clear: left;
    }
	
	
    .main p {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
        color: black;
    }

    .main ol,
    .main ul {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
        color: black;
		list-style: none;
		padding: 0;
    }

   .list--marker li::before {
	    color: #b1b3b6;
		content: "-";
		width: 14px;
		height: 2px;
		padding-right: 8px; /* Расстояние от маркера до текста */
    }
	
	
	.list--marker li {
        font-family: 'RF Dewi', sans-serif;
        font-size: 12px;
        line-height: 1.64em;
		color: black;
	}
	
	
	.main li{
		color: black;
	}
	
	.main ol{
		counter-reset: num;
	}
	
	.list--number li {
       padding: 0 13px;
	}
	
	.list--number li::before {
	position: relative;
	font-size: 21px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    content: counter(num) ' '; /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    color: #b1b3b6;
	margin: 0 0 0 5px;
	}
	
	.main a{
	  text-decoration: none;
	  color: blue;
	}
}


@media (min-width: 1024px) {
    .articles__more {
        padding-top: 40px;
    }

    .articles__link {
        font-size: 48px;
    }

    .main--left,
    .main--right {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main h1 {
        font-size: 48px;
        line-height: 1.2em;
        color: black;
    }

    .main h2 {
		font-family: 'RF Dewi Expanded';
        font-size: 24px;
		font-stretch: expanded;
        line-height: 1.2em;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        color: black;

        display: flex;
        justify-content: flex-start;
    }

    .main p {
        font-family: 'RF Dewi', sans-serif;
        font-size: 21px;
        line-height: 1.7em;
        letter-spacing: 0.03em;
        color: black;
    }

    .article__lead::first-letter {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-size: 73px;
        letter-spacing: 0.03em;
        color: #696969;


        padding: 0 3px; /* Поля вокруг первой буквы */
        margin-right: 5px; /* Отступ справа */
        float: left; /* Обтекание по правому краю */
    }

    .article__lead {
        clear: left;
    }

    .article {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .main ol,
    .main ul {
        font-family: 'RF Dewi', sans-serif;
        font-size: 21px;
        line-height: 1.7em;
        letter-spacing: 0.03em;
        color: black;
		list-style: none;
		padding: 0;
    }
	
	.list--marker li {
        font-family: 'RF Dewi', sans-serif;
        font-size: 21px;
        line-height: 1.7em;
        letter-spacing: 0.03em;
        color: black;
    }
	
    .list--marker li::before {
	    color: #b1b3b6;
		content: "-";
		width: 14px;
		height: 2px;
		padding-right: 23px; /* Расстояние от маркера до текста */
    }
	
	.main li{
		color: black;
		
	}
	
	.main ol{
		counter-reset: num;
	}
	
	.list--number li::before {
    content: counter(num) ' '; /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    color: #b1b3b6;
	padding-right: 28px; /* Расстояние от маркера до текста */
   }
   
   .main a{
	  text-decoration: none;
	  color: blue;
	}
}


